@import "tailwindcss";
@plugin "daisyui";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

h1, h2, h3, label {
    font-family: 'Poppins', sans-serif;
}

p, span, div, a {
    font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}

.prose {
    font-family: 'Inter', sans-serif;
    line-height: 1.7;
}

button{
    background-color: #F59E0B;
}